<div class="login_form_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- login_wrapper -->
        <div class="login_wrapper">

          <h2>LOGIN</h2>
          <div class="formsix-pos">
            <div class="form-group i-text">
              <input type="text" class="form-control" required="" id="name" placeholder="Name *">
            </div>
          </div>

          <div class="formsix-pos">
            <div class="form-group i-email">
              <input type="email" class="form-control" required="" id="email2" placeholder="Email Address *">
            </div>
          </div>

          <div class="formsix-e">
            <div class="form-group i-password">
              <input type="password" class="form-control" required="" id="password2" placeholder="Password *">
            </div>
          </div>

          <div class="formsix-e">
            <div class="form-group i-password">
              <input type="password" class="form-control" required="" id="password2" placeholder="Confirm Password *">
            </div>
          </div>
          <div class="login_remember_box">
            <label class="control control--checkbox">Remember me
              <input type="checkbox">
              <span class="control__indicator"></span>
            </label>
            <a href="#" class="forget_password">
              Forgot Password
            </a>
          </div>
          <div class="login_btn_wrapper">
            <a href="#" class="btn btn-primary login_btn"> Login </a>
          </div>
          <div class="login_message">
            <p>Already have an account ? <button type="button" (click)="login()" class="btn btn-outline-danger">Log In</button> </p>
          </div>
        </div>
        <!-- /.login_wrapper-->
      </div>
    </div>
  </div>
</div>
