<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <div class="container">
    <form>
      <h1>Register</h1>
      <div class="form">
        <label for="">Nom</label>
        <input type="text" class="control" required>
      </div>
      <div class="form">
        <label for="">Email</label>
        <input type="email" class="control" required>
      </div>
      <div class="form">
        <label for="">Password </label>
        <input type="password" class="control" required>
      </div>
      <button type="submit" class="btn" (click)="login()" >Register</button><br>
      <hr>

    </form>
  </div>

</body>
</html>



