<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>
<body class="bg-image">
  <nav>
    <li><a href="#">App Bank
      <span class="nav-item"></span></a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>

  </nav>

  <div class="wrapper">
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
      <h1>Nouveau Client</h1>
      <div class="input-box">
        <div class="form">
          <label for="">Nom:</label>
          <input type="text"  class="control" formControlName="nom" required placeholder="Entrer votre nom" autocomplete="name">
          <label for=""  >Prenom:</label>
          <input type="text" class="control" formControlName="prenom" required placeholder="Entrer votre prénom" autocomplete="prenom">
        </div>
        <div class="form">
          <label for="">Email</label>
          <input type="email" class="control" formControlName="courriel" required>
          <label for="">Adresse </label>
          <input type="text" class="control" formControlName="adresse" required>
        </div>
        <div class="form">
          <label for="">Sexe:</label>
          <input type="text" class="control" formControlName="sexe" required>
          <label for="">Date: </label>
          <input type="date" class="control" formControlName="date_naissance" required>
        </div>
        <div class="form">
          <label for="">Numero:</label>
          <input type="tel" class="control" formControlName="numero_telephone" required>

        </div>
      </div>
      <hr>
      <button type="submit" [disabled]="clientForm.invalid" class="btn btn-success">Enregistrer</button>

    </form>
  </div>

</body>
</html>




