<div class="container">
  <p> Log in</p>

  <div class="card">
    <div class="card-header">
      Se connecter
    </div>
    <div class="card-body">
      <form class="d-flex align-items-center justify-content-center">

        <div class="input-group mb-3">

          <label>Email : </label>
          <input type="email" class="form-control" placeholder="Enter your email">
        </div>
        <div class="input-group mb-3" >
          <label >Password : </label>
          <input type="password" class="form-control" placeholder="Enter your password">
        </div>
        <div class="input-group mb-3">
          <label>Confirm Password : </label>
          <input type="password" class="form-control" placeholder="Confirm your password">
        </div>
      </form>
      <div class="d-flex align-items-center justify-content-center pb-4">

        <button type="button"  class="btn btn-outline-primary">Login</button>
      </div>
      <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Don't have an account?</p>
        <button type="button" class="btn btn-outline-danger">Create new</button>
      </div>
    </div>

  </div>


</div>




