<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <nav>
    <li><a href="#">App Bank
      <span class="nav-item"></span></a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>
    <li><a href="#"><i class="bi fas bi-house"></i>
      <span class="nav-item">Home</span>
      </a>
    </li>

  </nav>

  <div class="container">
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
      <h1>New Client</h1>
      <div class="detail">
        <div class="form">
          <label for="">Nom:</label>
          <input type="text"  class="control" formControlName="nom" required>
          <label for=""  >Prenom:</label>
          <input type="text" class="control" formControlName="prenom" required>
        </div>
        <div class="form">
          <label for="">Email</label>
          <input type="email" class="control" formControlName="courriel" required>
          <label for="">Adresse </label>
          <input type="text" class="control" formControlName="adresse" required>
        </div>
        <div class="form">
          <label for="">Sexe:</label>
          <input type="text" class="control" formControlName="sexe" required>
          <label for="">Date: </label>
          <input type="date" class="control" formControlName="date_naissance" required>
        </div>
        <div class="form">
          <label for="">Numero:</label>
          <input type="tel" class="control" formControlName="numero_telephone" required>

        </div>
      </div>
      <hr>
      <button type="submit" [disabled]="clientForm.invalid" class="btn">Enregistrer</button>

    </form>
  </div>


  <!--<div class="container">
    <div class="title">New Client</div>
    <form action="">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nom</span>
          <input type="text" placeholder="Enter the name" required>
        </div>
        <div class="input-box">
          <span class="details">Prenom</span>
          <input type="text" placeholder="Enter the first name" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="email" placeholder="Enter the name" required>
        </div>
        <div class="input-box">
          <span class="details">Adresse</span>
          <input type="text" placeholder="Enter the name" required>
        </div>
        <div class="input-box">
          <span class="details">Nom</span>
          <input type="text" placeholder="Enter the name" required>
        </div>
        <div class="input-box">
          <span class="details">Nom</span>
          <input type="text" placeholder="Enter the name" required>
        </div>
        <div class="gender-details">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="">
              <span class="dot one"></span>
              <span class="gender">Female</span>
            </label>
            <label for="">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </div>
    </form>
  </div>-->

</body>
</html>


<!--<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Formulaire d'ajout d'une catégorie</h3>
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
            <div>
              <label class="form-label">Nom : </label>
              <input class="form-control" formControlName="nom">
            </div>
            <div>
              <label class="form-label">Prenom : </label>
              <input class="form-control" formControlName="prenom">
            </div>
            <div>
              <label class="form-label">Email : </label>
              <input class="form-control" formControlName="courriel">
            </div>
            <div>
              <label class="form-label">Sexe : </label>
              <input class="form-control" formControlName="sexe">
            </div>
            <div>
              <label class="form-label">Adresse : </label>
              <input class="form-control" formControlName="adresse">
            </div>
            <div>
              <label class="form-label">Date de Naissance : </label>
              <input class="form-control" formControlName="date_naissance">
            </div>
            <div>
              <label class="form-label">Numero de Téléphone : </label>
              <input class="form-control" formControlName="numero_telephone">
            </div>
            <div class="mt-2">
              <button [disabled]="clientForm.invalid" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->




