
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #eee;
  display: flex;
  font-family: sans-serif;
}
.container{
  margin: auto;

  width: 500px;
  max-width: 90%;
}
.label-with-margin {
  margin-top: 10px;
}

.container form{
  width: 700px;
  height: 500px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}
.container form h1{
  text-align: center;
  margin-bottom: 24px;
  color: #222;
}
.container form .control{
  width: 40%;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
}
.container form .btn{
  margin-left: 50px;
  transform: translateX(-50%);
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: blue;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  transition: .3s;
}
.container form .btn1{
  margin-left: 50px;
  transform: translateX(-50%);
  width: 120px;
  height: 34px;
  border: none;
  outline: none;
  background: red;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  transition: .3s;
}
.container form .btn:hover{
  opacity: .7;
}
.detail{
  justify-content: space-between;
}
nav{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background-color: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}
.fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover{
  background: #eee;

}
nav:hover{
  width: 280px;
  transition: all 0.5s ease;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 100px;
  padding-bottom: 500px;
}
.bg-image{
  background-image: url('../../assets/images/ban.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


.wrapper {
  width: 620px;
  height: auto;
  background: rgba(98, 216, 210, 0.1);
  border: px solid rgb(0, 252, 13);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 50px;
  padding: 30px 40px;
  margin: 0 auto;
  margin-top: 100px;
}

.wrapper h2 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
.error-message {
  color: red;
  font-size: 14px; 
}
.btn1:hover {
  background-color: #3498db; 
  color: #fff; 
}

